.home {
  position: relative;
}

.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  padding-top: 15px;
  padding-bottom: (80);
}

.home__box {
  position: relative;
  width: 450px;
  margin: 0 auto;
  padding: 60px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-left: 40px;
}

.home__headline {
  margin-bottom: (40);
  font-family:Arial, Helvetica, sans-serif;
  color:white;
}

.home__btn-container {
  bottom: 20px;
  text-align: center;
}

.home__btn-orange{
  background-image: url(../assets/home-orange-phone.png);
  height:400px;
  width:204px;
  margin-left:40px;
  margin-right:40px;
  border-radius: 15px;
  border:none;
}

.home__btn-white{
  background-image: url(../assets/home-white-phone.png);
  height:400px;
  width:204px;
  border:none;
  border-radius: 15px;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: orange;
  z-index: 100;
  left: 0px;
  right: 0px;
}

.nav__container {
  display: flex;
  height: 170px;
  padding-right: 0;
  margin-bottom: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  font-size: 40px;
  text-align: center;

  .rtl :host & {
    padding-left: 0;
    padding-right: 15px;
  }
}
