<div class="nav">
    <div class="container nav__container">
      <h1>
          {{ 'Best Pick Smartphone' }}
      </h1>
    </div>
</div>
<section class="home">
  <div class="container home__container">
      <div class="home__btn-container">
        <button
        type="submit"
        class="btn home__btn-white"
        >
        </button>
        <button
        type="submit"
        class="btn home__btn-orange"
        >
        </button>
        <button
        type="submit"
        class="btn home__btn-white"
        >
        </button>
      </div>
      <div class="home_footer">
    </div>
  </div>
</section>
