<div class="row">
  <div class="col-md-12" style="padding:0px">
      <nav class="navbar navbar-dark" style="background-color: orange;">
          <a class="navbar-brand" href="#">{{ 'Best Pick' }}</a>
      </nav>
  </div>
</div>
<img 
  src='https://cdn2.gsmarena.com/vv/pics/razer/razer-phone2-1.jpg' 
  alt='image'
  class="image img"
>
<br>
<h5
  class="text txt"
>
  Razer Phone 2
</h5>
<button
  type="submit"
  class="btn size-btn"
>
  Official Site
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Tech Specs
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Unboxing
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Review
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Specs Comparison
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Face Comparison
</button>
<button
  type="submit"
  class="btn size-btn"
>
  Search Price
</button>

