.txt {
  margin-left: 1%;
  font-weight: bold;
}

.img {
  width: 50%;
  margin-left: 25%;
}

.size-btn {
  background-color: #F8F8F8;
  color: red;
  width: 100%;
  text-align: left;
  font-weight: 100;
}

.navbar-brand {
  margin-left: 20px;
}
