<div class="container-fluid">
  <div class="row">
      <div class="col-md-12" style="padding:0px">
          <nav class="navbar navbar-dark" style="background-color: orange;">
              <a class="navbar-brand" href="#">{{ 'Brand' }}</a>
          </nav>
      </div>
  </div>
  <button
    type="submit"
    class="btn size-btn"
  >
  apple
  </button>
  <br/>
  <button
    type="submit"
    class="btn size-btn"
  >
  samsung
  </button>
  <br/>
  <button
    type="submit"
    class="btn size-btn"
    >
  Big
  </button>
</div>