<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding:0px">
            <nav class="navbar navbar-dark" style="background-color: orange;">
                <a class="navbar-brand" href="#">{{ 'Best Pick Smartphone' }}</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <button
            type="submit"
            class="btn home__btn-white img-fluid"
            >
            </button>
            <button
            type="submit"
            class="btn home__btn-orange img-fluid"
            >
            </button>
            <button
            type="submit"
            class="btn home__btn-white img-fluid"
            >
            </button>
        </div>
    </div>
    <div class="home_footer">
    </div>
</div>